<input class="form-control"
       type="text"
       placeholder="State name ..."

       ng-model="customSelected"

       popover="No results were found."
       popover-trigger="openPopover"
       popover-placement="bottom"

       typeahead="state as state.name for state in states | filter:{name:$viewValue}"
       typeahead-template-url="customTemplate.html"

       extending-typeahead>

<script type="text/ng-template" id="customTemplate.html">
  <a>
    <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>